@import 'base/reset';
@import 'base/variables';

@import 'blocks/header';
@import 'blocks/footer';

@import 'blocks/products';
@import 'blocks/product-detail';
@import 'blocks/contacts';

@import 'blocks/map';
@import 'blocks/title';


body{
    font-family: 'Roboto', sans-serif;
    background: url('../img/bg.jpg');
}

.container{
    position: relative;
}