@import 'base/reset';
@import 'base/variables';

@import 'blocks/header';
@import 'blocks/footer';

@import 'blocks/products';
@import 'blocks/product-detail';
@import 'blocks/contacts';
@import 'blocks/accounts';

@import 'blocks/map';
@import 'blocks/title';

@import 'blocks/buttons';


body{
    font-family: 'Roboto', sans-serif;
    background: url('../img/bg.jpg');
}

.container{
    position: relative;
}

main{
    min-height: calc(100svh - 48px - 44px);
}