.account{
    margin-bottom: 80px;
    padding: 22px;
    &-form{
        &__wrapper{
            margin: 0 auto;
            background-color: $main-bg-plate;
            box-shadow: $box-shadow;
            border-radius: 15px;
            overflow: hidden;
            padding: 25px;
        }
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 100%;
        &__header-title{        
            text-align: center;
            font-size: 25px;
            margin-bottom: 20px;
        }
        &__header-logo{
            height: 75px;
            width: 75px;
            margin: 2px auto;
            border-radius: 50%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &-actions{
        padding: 8px;
        text-align: center;
        &__forgot_password, &__sign-up{
            margin-bottom: 10px;
            a{
                font-size: 16px;
                color: black;
                text-decoration: underline;
            }
        }
    }
}

.account-form__form-group{
    label{
        color: #000000;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0.3537px;
    }
    input{
        font-size: 16px;
        font-weight: 500;
        width: 100%;
        border: 1px solid #EFD0F8;
        height: 40px;
        letter-spacing: 0.3537px;
        border-radius: 8px;
        text-indent: 10px;
        margin-top: 6px;
        border: 1px solid #EFD0F8;
        &:focus{
            border: 1px solid #DD946F;
        }
    }
}

