.btn{
    background-color: #DD946F;
    color: #020107;
    display: block;
    width: 100%;
    white-space: nowrap;
    line-height: 50px;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: $box-shadow;
    transition: all .3s ease;
    &:hover{
        background-color: #CD7D7C;
    }
}