.contacts{
    margin-bottom: 50px;
    &__wrapper{
        font-size: 16px;
        margin: 15px 0;
    }
    &__info{
        padding: 15px;
        width: 95%;
        margin: 15px auto;
        background-color: $main-bg-plate;
        border-radius: 15px;
    }
    &__info{
        a{
            display: block;
            padding: 6px 8px;
            color: black;
            text-decoration: underline;
        }
        &-title{
            margin-bottom: 10px;
        }
        
    }
    &__address{
        address, .mode-time{
            padding: 6px 8px;

        }
    }
}