.header{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: $main-color-header-footer;
    &__wrapper{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0 ;
    }
    &__logo{
        display: block;
        width: 32px;
        height: 32px;
        margin-left: 15px;
        img{
            height: 100%;
            overflow: hidden;
        }
    }
}

.menu{
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -100vh;
    width: 100%;
    padding: 18px;
    background-color: $main-color-header-footer;
    transition: .5s all;
    &_active{
    top: 48px;
    }
    &__item{
        width: 80%;
        text-align: center;
        text-transform: uppercase;
    }
    &__link{
        display: block;
        color: #ffffff;
        font-size: 32px;
        font-weight: 300;
        padding: 5px;
    }
}

.hamburger{
    display: block;
    width: 22px;
    height: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    background-color: $main-color-header-footer;
    span{
        display: block;
        height: 2px;
        width: 100%;
        background-color: #000000;
        margin-bottom: 2px;
        transition: .5s all
    }
    &_active{
        span{
            margin-bottom: 2px;
            &:nth-child(1){
                transform: translateY(5px) rotate(-45deg);
            }
            &:nth-child(2){
                display: none;
            }
            &:nth-child(3){
                transform: translateY(2px) rotate(45deg);
            }
        }
    }
}

.toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-right: 46px;
    &__link{
        display: block;
        width: 20px;
        height: 20px;
        img{
            width: 100%;
            overflow: hidden;
        }
    }
}

@media (min-width: 768px){
    .menu{
        position: static;
        flex-direction: row;
        justify-content: center;
        width:auto;
        gap: 15px;
        padding: 0;
        &__link{
            font-size: 18px;
        }
    }
    .hamburger{
        display: none;
    }
    .toolbar{
        padding-right: 25px;
    }
}


@media (min-width: 128px){
    .menu{
        &__link{
            font-size: 22px;
        }
    }

}